/**
* Open Labyrinth [ http://www.openlabyrinth.ca ]
*
* Open Labyrinth is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Open Labyrinth is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Open Labyrinth. If not, see <http://www.gnu.org/licenses/>.
*
* @copyright Copyright 2012 Open Labyrinth. All Rights Reserved.
*
*/
/* Layout Stylesheet */
body {
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background:#EEE;
    text-align:center;
    padding:0;
}
p {
    font-size: 80%;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #000000
}
h1 {
    font-size: 262.5%;
}
h2 {
    font-size: 187.5%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 60%;
    font-weight: normal;
}
ul {
    list-style-type: none;
    padding:0;
}
.links a {
    font-size: 12px;
}
li {
    font-size: 80%;
}
a:link{font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #111111; text-decoration:none}
a:visited{font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #111111; text-decoration:none}
a:hover{font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #111111;}
a:active{font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #111111;}
#outer {
    text-align:left;
    border:1px solid #ffffff;
    width:100%;
    margin:auto;
}
#hdr {
    height:relative;
    background:#ffffff;
    color: #ffffff;
    border:solid #ffffff;
    border-width:1px 0 1px 0;
}
#bar {
    height:25px;
    background:#ffffff;
    color: #ffffff;
    border:solid #ffffff;
    border-width:1px 0 1px 0;
}
#bodyblock {
    position:relative;
    background: #ffffff;
    color: #ffffff;
    padding:0;
}
#l-col {
    float:left;
    background:#ffffff;
    color: #ffffff;
    width:145px;
    border:#ffffff;
    border-width:0 0px 0 0;
}
#cont {
    width:75%;
    background:#ffffff;
    color: #333333;
    border:10px solid #ffffff;
    border-width:8 8 8 8px;
    text-align:left;
}
#trace {
    height:30px;
    background:#ffffff;
    color: #ffffff;
    border:#ffffff;
    border-width:1px 0 0 0;
    margin:0;
}
#ftr {
    height:30px;
    background:#ffffff;
    color: #ffffff;
    border:#ffffff;
    border-width:1px 0 0 0;
    margin:0;
    padding-bottom:20px;
}
div.scroll {
    height: 95%;
    width: 95%;
    overflow: auto;
    border: 1px solid #666666;
    background-color: #cccccc;
    padding: 8px;
}
.questionResponces span {
    margin-right:5px;
}

.questionResponces.horizontal li {
    float:left;
}

.questionResponces .questionSubmitButton {
    margin-top:15px;
}

.btn {
    margin-bottom: 5px;
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}