/**
* Open Labyrinth [ http://www.openlabyrinth.ca ]
*
* Open Labyrinth is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Open Labyrinth is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Open Labyrinth.  If not, see <http://www.gnu.org/licenses/>.
*
* @copyright Copyright 2012 Open Labyrinth. All Rights Reserved.
*
*/
/* Layout Stylesheet */
body {
    margin:20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background:#EEE;
    text-align:center;
    padding:0;
}
p {
    font-size: 80%;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #000000
}
h1 {
    font-size: 262.5%;
}
h2 {
    font-size: 187.5%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 60%;
    font-weight: normal;
}
li {
    font-size: 60%;
}
a:link{font-family: Arial, Helvetica, sans-serif;  font-style: normal; font-weight: normal; color: #111111;  text-decoration:none}
a:visited{font-family: Arial, Helvetica, sans-serif;  font-style: normal; font-weight: normal; color: #111111;  text-decoration:none}
a:hover{font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #111111;}
a:active{font-family: Arial, Helvetica, sans-serif;  font-style: normal; font-weight: normal; color: #111111;}
#outer {
    text-align:left;
    border:1px solid #ffffff;
    width:100%;
    margin:auto;
}
#hdr {
    height:relative;
    background:#ffffff;
    color: #ffffff;
    border:solid #ffffff;
    border-width:1px 0 1px 0;
}
#bar {
    height:25px;
    background:#ffffff;
    color: #ffffff;
    border:solid #ffffff;
    border-width:1px 0 1px 0;
}
#bodyblock {
    position:relative;
    background: #ffffff;
    color: #ffffff;
    padding:0;
}
#l-col {
    float:left;
    background:#ffffff;
    color: #ffffff;
    width:145px;
    border:#ffffff;
    border-width:0 0px 0 0;
}
#cont {
    width:75%;
    background:#ffffff;
    color: #333333;
    border:10px solid #ffffff;
    border-width:8 8 8 8px;
    text-align:left;
}
#trace {
    height:30px;
    background:#ffffff;
    color: #ffffff;
    border:#ffffff;
    border-width:1px 0 0 0;
    margin:0;
}
#ftr {
    height:30px;
    background:#ffffff;
    color: #ffffff;
    border:#ffffff;
    border-width:1px 0 0 0;
    margin:0;
    padding-bottom:20px;
}
div.scroll {
    height: 95%;
    width: 95%;
    overflow: auto;
    border: 1px solid #666666;
    background-color: #cccccc;
    padding: 8px;
}