.r_activity{background:#F17C00;}
.r_behavior{background:#01B8AC;}
.r_dailyorrecreationalactivity{background:#A79A3C;}
.r_event{background:#6864FB;}
.r_governmentalorregulatoryactivity{background:#5466CA;}
.r_individualbehavior{background:#E64799;}
.r_machineactivity{background:#E45D04;}
.r_occupationalactivity{background:#0E3652;}
.r_socialbehavior{background:#D3D695;}
.r_anatomicalstructure{background:#08CA82;}
.r_bodylocationorregion{background:#5B6F78;}
.r_bodypart,organ,ororgancomponent{background:#DCB9C9;}
.r_bodyspaceorjunction{background:#D9B831;}
.r_bodysubstance{background:#2FF0BF;}
.r_bodysystem{background:#FD51EB;}
.r_cell{background:#5A5C2E;}
.r_cellcomponent{background:#21E6F3;}
.r_embryonicstructure{background:#CB8010;}
.r_fullyformedanatomicalstructure{background:#0463B9;}
.r_tissue{background:#7D2E0F;}
.r_aminoacid,peptide,orprotein{background:#E58129;}
.r_antibiotic{background:#BB9BE1;}
.r_biologicallyactivesubstance{background:#DD39ED;}
.r_biomedicalordentalmaterial{background:#CBF301;}
.r_carbohydrate{background:#43923E;}
.r_chemical{background:#37FE29;}
.r_chemicalviewedfunctionally{background:#605A29;}
.r_chemicalviewedstructurally{background:#192956;}
.r_clinicaldrug{background:#222901;}
.r_eicosanoid{background:#9E2374;}
.r_element,ion,orisotope{background:#FC0259;}
.r_enzyme{background:#72874A;}
.r_hazardousorpoisonoussubstance{background:#5910DD;}
.r_hormone{background:#A54813;}
.r_immunologicfactor{background:#9283CF;}
.r_indicator,reagent,ordiagnosticaid{background:#0D4BF2;}
.r_inorganicchemical{background:#478A02;}
.r_lipid{background:#DAD666;}
.r_neuroreactivesubstanceorbiogenicamine{background:#86E3F4;}
.r_nucleicacid,nucleoside,ornucleotide{background:#BE0265;}
.r_organicchemical{background:#93806C;}
.r_organophosphoruscompound{background:#B4858D;}
.r_pharmacologicsubstance{background:#5CC150;}
.r_receptor{background:#8F279E;}
.r_steroid{background:#0D18B3;}
.r_vitamin{background:#B9F1AA;}
.r_classification{background:#C5AFBF;}
.r_conceptualentity{background:#CECC36;}
.r_functionalconcept{background:#FC163C;}
.r_groupattribute{background:#603E1B;}
.r_ideaorconcept{background:#132A15;}
.r_intellectualproduct{background:#2BBF9C;}
.r_language{background:#CAA70C;}
.r_qualitativeconcept{background:#4563B4;}
.r_quantitativeconcept{background:#4DAD33;}
.r_regulationorlaw{background:#932BFB;}
.r_spatialconcept{background:#893058;}
.r_temporalconcept{background:#0DAF67;}
.r_drugdeliverydevice{background:#738D87;}
.r_medicaldevice{background:#57097C;}
.r_researchdevice{background:#3F8CA2;}
.r_acquiredabnormality{background:#C66D51;}
.r_anatomicalabnormality{background:#2D6AD6;}
.r_cellormoleculardysfunction{background:#598AA7;}
.r_congenitalabnormality{background:#08719E;}
.r_diseaseorsyndrome{background:#F97971;}
.r_experimentalmodelofdisease{background:#B4A4D4;}
.r_finding{background:#280EE7;}
.r_injuryorpoisoning{background:#81EBC3;}
.r_mentalorbehavioraldysfunction{background:#B5CC7F;}
.r_neoplasticprocess{background:#108D77;}
.r_pathologicfunction{background:#97C8E1;}
.r_signorsymptom{background:#0F7B4F;}
.r_aminoacidsequence{background:#FBB0AE;}
.r_carbohydratesequence{background:#297BC8;}
.r_geneorgenome{background:#333EBF;}
.r_molecularsequence{background:#D0D67A;}
.r_nucleotidesequence{background:#8136DC;}
.r_geographicarea{background:#EAD799;}
.r_agegroup{background:#43DD45;}
.r_amphibian{background:#1A4D6A;}
.r_animal{background:#689920;}
.r_archaeon{background:#35BDBA;}
.r_bacterium{background:#099D34;}
.r_bird{background:#2C2A6F;}
.r_eukaryote{background:#160F9A;}
.r_familygroup{background:#8FBAC0;}
.r_fish{background:#0E06CF;}
.r_fungus{background:#0103A8;}
.r_group{background:#2C9FE2;}
.r_human{background:#C1B6B3;}
.r_mammal{background:#ACDAE1;}
.r_organism{background:#AD7CA3;}
.r_patientordisabledgroup{background:#5C0243;}
.r_plant{background:#7BABFE;}
.r_populationgroup{background:#E3F807;}
.r_professionaloroccupationalgroup{background:#B73853;}
.r_reptile{background:#F5E22E;}
.r_vertebrate{background:#0B6DB0;}
.r_virus{background:#9625B1;}
.r_entity{background:#708745;}
.r_food{background:#B7A143;}
.r_manufacturedobject{background:#522FA6;}
.r_physicalobject{background:#127E58;}
.r_substance{background:#D99017;}
.r_biomedicaloccupationordiscipline{background:#DA43F9;}
.r_occupationordiscipline{background:#C7F1D6;}
.r_healthcarerelatedorganization{background:#BAA3F3;}
.r_organization{background:#AD37B7;}
.r_professionalsociety{background:#C2FFE1;}
.r_self-helporrelieforganization{background:#EE1443;}
.r_biologicfunction{background:#E661DE;}
.r_environmentaleffectofhumans{background:#1910B6;}
.r_human-causedphenomenonorprocess{background:#F4FCB5;}
.r_laboratoryortestresult{background:#B2588B;}
.r_naturalphenomenonorprocess{background:#4B5F7A;}
.r_phenomenonorprocess{background:#B6A97A;}
.r_cellfunction{background:#419701;}
.r_clinicalattribute{background:#F7F2DC;}
.r_geneticfunction{background:#C45DEB;}
.r_mentalprocess{background:#393FFB;}
.r_molecularfunction{background:#7CD1D9;}
.r_organismattribute{background:#9E21E8;}
.r_organismfunction{background:#7F5C0A;}
.r_organortissuefunction{background:#B9CC84;}
.r_physiologicfunction{background:#DC02E8;}
.r_diagnosticprocedure{background:#BD5C25;}
.r_educationalactivity{background:#56C04C;}
.r_healthcareactivity{background:#EB69D1;}
.r_laboratoryprocedure{background:#165214;}
.r_molecularbiologyresearchtechnique{background:#430866;}
.r_researchactivity{background:#A0C979;}
.r_therapeuticorpreventiveprocedure{background:#AFAF1D;}
