html, body {
    min-height: 100% !important;
    height: 100%;
}
#skinEditor {
    background: #7895b7;
    position:fixed;
    width:100%;
    height:300px;
    bottom:0;
    left:0;
    opacity:1;
    color: #000000;
}

#skinEditor .header {
    clear:both;
    width:100%;
    color:#000;
    font-size: 30px;
    text-align: center;
    height:50px;
    line-height: 50px;
    font-weight: bold;
}

#skinEditor .left {
    float:left;
    height: 250px;
    margin-right:10px;
    background: #FFFFFF;
    width:420px;
    position:relative;
}

#skinEditor .right {
    float: left;
    height:250px;
    margin-left:10px;
    background: #FFFFFF;
    width:420px;
    position: relative;
    overflow: hidden;
}

#skinEditor .action {
    padding-left: 10px;
    width:140px;
    float:left;
}

#skinEditor .action p {
    text-align: left;
}

#skinEditor .action_control {
    width:270px;
    float:left;
    margin-top:10px;
    height:215px;
}

#skinEditor .editor_action {
    display: none;
    height: 100%;
}

#skinEditor .color_action {
    text-align: left;
}

#skinEditor .color_action p {
    text-align: center;
}

#skinEditor .progress_display {
    width:100%;
    display: none;
}

#skinEditor .progress_display .progress {
    width: 200px;
    border:1px solid #CCCCCC;
    margin:0 auto;
}

#skinEditor .progress_display .progress .bar {
    height: 18px;
    text-align: center;
    background-color: #62C462;
}

#skinEditor .progress_display .status {
    display: none;
}

#skinEditor .progress_display .status p {
    margin-bottom:20px;
    margin-top:0px;
    text-align: left;
}

.select_image {
    position: relative;
}

.upload_file {
    cursor: pointer;
    height: 100%;
    left: 25px;
    position: absolute;
    top: 0;
    width: 150px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
