.h5p-text-input-field .h5p-text-input-field-textfield {
  padding: 0.25em 0.4em;
  width: calc(100% - 0.8em);
  resize: none;
  border: 1px solid #C7C7C7;
  border-top: 2px solid #C7C7C7;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.h5p-text-input-field .h5p-text-input-field-textfield:focus {
  background-color: #fff;
}

/* Reduce bottom and top margin of children */
.h5p-text-input-field .h5p-text-input-field-label > * {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

